@import url('https://fonts.googleapis.com/css?family=Quicksand');

.App {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    height: 100%;
    width: 100%;
   
  }
  
  .App-header {
    background-color: #1B3F52;
    height: 115px;
    width: 100%;
    /* padding: px 0; */
    color:rgb(226, 227, 233);
    vertical-align: middle;
    text-align: center;
    position: relative;
    
    
  }
  
  .App-title {
    font-size: 500%;
    position: absolute;
      top: 3%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      font-weight: 500;
  }

  .links{
      /*div holding nav links*/
      background-color: rgb(191, 192, 199);
      padding: 1px 1px;
      width: 100%;
      margin-left: auto ;
      margin-right: auto ;
       height: 40px;
  }
  .navLinks{
    list-style:none;
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
  } 
  .navLinks li {
    padding: 2px;
    width: 150px;
    margin-left: auto ;
    margin-right: auto ;
    display: inline-block;
    font-weight: 500;
  }
  
  .navLinks a:link {
    color:white;
    text-decoration: none;
    font-size: 25px;
  }

  .navLinks a:visited {
    color: white;
  }

  .navLinks a:hover {
    color: rgb(116, 28, 42);
  } 
  
  .navLinks a.active {
    text-decoration: underline;
    color: rgb(116, 28, 42);
    font-weight: 600;
  }
  
  .navLinks a.active:hover {
    color: rgb(156, 47, 65);
  }

.footer {
  /* position: relative; */
  bottom: 0;
  background-color:  rgb(102, 25, 38);
  text-align: center;  
  right: 0;
  left: 0;
  top: 200px;
  height: 110px;
  border-top: 3px solid #1B3F52;
  width:100%;
}
.media{
  padding-top: 1%;
}
.logo{
  width: 60px;
  height: 60px;
}
.divider{
  height: 25px;
  background-color: rgb(77, 18, 28);
  position: relative;
  bottom: 0;
  text-align: center;    right: 0;
  left: 0;
  color: rgb(156, 156, 156);
  width: 100%;
  top: 15px
}
