@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.App {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    min-height: 100%;
    width: 100%;
}
   
  
  
  .App-header {
    background-color: #1B3F52;
    height: 115px;
    width: 100%;
    margin-right: 0;
    /* padding: px 0; */
    color:rgb(226, 227, 233);
    /* vertical-align: middle;
    text-align: center; */
    position: relative;
    
  }
  
  
  .App-title {
    text-align: center;
    font-size: 500%;
     position: absolute;
     margin-top: 5px;
     margin-left: 15px;
     width: 100%;
      /*top: 3%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); */
      font-weight: 500;
  }
  
  .links{
      /*div holding nav links*/
      background-color: rgb(191, 192, 199);
      padding: 1px 1px;
      /* width: 100%; */
      margin-left: auto;
      margin-right: auto ;
       height: 40px;
  }
  .navLinks{
    list-style:none;
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
  } 
  .navLinks li {
    padding: 2px;
    width: 150px;
  
    /* margin-left: auto ;
    margin-right: auto ; */
    margin: 0 auto;
    display: inline-block;
    font-weight: 500;
  }
  
  .navLinks a:link {
    color:white;
    text-decoration: none;
    font-size: 25px;
  }

  .navLinks a:visited {
    color: white;
  }

  .navLinks a:hover {
    color: rgb(116, 28, 42);
  } 
  
  .navLinks a.active {
    text-decoration: underline;
    color: rgb(116, 28, 42);
    font-weight: 600;
  }
  
  .navLinks a.active:hover {
    color: rgb(156, 47, 65);
  }

.footer {
  /* position: relative; */
  bottom: 0;
  background-color:  rgb(102, 25, 38);
  text-align: center;  
  right: 0;
  left: 0;
  top: 200px;
  height: 110px;
  border-top: 3px solid #1B3F52;
  width:100%;
}
.media{
  padding-top: 1%;
}
.logo{
  width: 60px;
  height: 60px;
}
.divider{
  height: 25px;
  background-color: rgb(77, 18, 28);
  position: relative;
  bottom: 0;
  text-align: center;    right: 0;
  left: 0;
  color: rgb(156, 156, 156);
  width: 100%;
  top: 15px
}

@media (max-width: 600px) {
  .App-title{
    font-size: 300%;
    margin: 0 auto;
    margin-top: 20px;
  }
 

  .links li {
    width: 130px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 10px;
    display: inline-block;
    margin-right: -4px;
  }

  .links NavLinks {
    border-bottom: none;
  }

  .links > ul > li {
    text-align: center;
  }

  .links > ul > li > NavLinks {
    padding-left: 0;
  }
  .navLinks a:link {
    font-size: 20px;
  
  }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px){
  .App-title{
    font-size: 340%;
    margin-top: 20px;
  }
} 



.Home{
  height: 100%;
  padding-bottom: 9%;
}
  .greeting{
    font-size: 65px;
    font-family: 'Dancing Script', cursive;
    margin: 8px;
    font-weight: 600;
    color: rgb(29,63,82)
  }
  .homeNetra{
    margin-top: 25px;
    width: 45%;
    height: 40%;
    border: white solid;
    border-width: 10px;
  }
  .homeContent{
    width: 50%;
    margin: auto;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.795);
    padding: 1px 10px;
    color: rgb(29,63,82);
    border:rgb(191, 192, 199) dotted;
  }
  @media (max-width: 915px) {
    .homeNetra{
      width: 80%;
    }
    .homeContent{
      width: 80%;
    }
  }
  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px){ 
    .homeNetra{
      width: 80%;
    }
    .homeContent{
      width: 80%;
    }
  }